* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  margin-bottom: 5rem;
}

.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .buttonCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */